@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --green:#27ae60;
    --black:#444;
    --light-color:#28282B;
    --bg-color:#D5EBDA;
    --border:.1rem solid rgba(0,0,0,0.2);
    --box-shadow:.4rem .4rem 1rem rgb(204, 204, 204),
                -.3rem -.3rem 0.5rem rgb(255, 255, 255);
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                      -.3rem -.3rem .5rem #fff inset;

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    padding-left: 30rem;
}
body.active{
    --black:#fff;
    --light-color:#D5EBDA;
    --bg-color:#28282B;
    --border:.1rem solid rgba(0,0,0,.4);
    --box-shadow:.4rem .4rem 1rem #111,
                -.3rem -.3rem 0.5rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
                      -.3rem -.3rem .5rem #111 inset;

}
section{
    padding: 2rem;
}
.btn{
    margin-top: 3.5rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
}
.btn:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}
.heading span{
    color: var(--green);
    text-transform: uppercase;
}
.header{
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    background: var(--bg-color);
    width: 30rem;
    border-right: .1rem solid rgba(0,0,0,0.2);
    height:100%;
    padding: 2rem; 
    text-align:center;
    border-color: var(--light-color);
}

.header .user img{
    margin: 1rem 0;
    border: 1rem solid transparent;
    border-radius:50%;
    height: 18rem;
    width: 18rem;
    box-shadow: var(--box-shadow);
    background: var(--light-color);
}
.header .user h3{
    color: var(--black);
    font-size: 2.5rem;
}

.header .user p{
    color: var(--green);
    font-size: 1.5rem;
}

.header .navbar{
    padding-top: 1rem;
}
.header .navbar a{
    display: block;
    margin: 1.5rem 0;
    padding: .7rem;
    border-radius: 5rem;
    font-size: 2rem;
    box-shadow: var(--box-shadow);
    color: var(--black);
}
.header .navbar a:hover{
    box-shadow: var(--box-shadow-inset);
}

#menu-btn{
    position: fixed;
    top:1.5rem; left: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    display: none;
}
#menu-btn:hover{
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}
#theme-toggler{
    position: fixed;
    top:1.5rem; right: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
}
#theme-toggler:hover{
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}
.home{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
.home .content h3{
    font-size: 7rem;
    color: var(--black);
    line-height: 1.1;
    text-transform: uppercase;
}
.home .content p{
    font-size: 2rem;
    color: var(--green);
    padding-bottom: .5rem;
}
.home .share{
    position: relative;
    top: 10rem;
    padding: 1rem;
}
.home .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    margin: 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: var(--black);
}
.home .share a:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}
.about{
    margin-bottom: 4rem;
}
.skill{
    margin-bottom: 1rem;
}
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
}
.about .row .box-container{
    flex:1 1 40rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.about .row .box-container .box{
    flex:1 1 18rem;
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.about .row .box-container .box h3{
    font-size: 3.5rem;
    color: var(--black);
    line-height: 1.1;
}
.about .row .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding: .5rem 0;

}

.about .row .content{
    flex:1 1 40rem;
}
.about .row .content h3{
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;   
}
.about .row .content h3 span{
    color: var(--green);
}
.about .row .content p{
    font-size: 1.5rem;
    color: var(--black);
    line-height: 1.8;
    padding: 1rem 0;
    max-width: 400px;
}
.left{
    font-size: 1.5rem;
    float: left;
    width: 50%;
    height: 100%;
    color: var(--black);
    padding: 1rem;
    /* box-shadow: var(--box-shadow); */
}
.right{
    font-size: 1.5rem;
    float: right;
    width: 50%;
    height: 100%;
    color: var(--black);
    /* box-shadow: var(--box-shadow); */
}
.table{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}
.skill .container{
    display: grid;
    grid-row-gap: 2rem;
}
.skill .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    color: var(--green);
    font-size: 1.5rem;
}
.skill .html-container{
    height: 5rem;
    width: 90%;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 5rem;
    color: var(--black);
    margin-top: 3rem;
}
.skill .html-container .name{
    margin: 1rem 2rem 1rem ;
}
.skill .html-container .loader{
    height: 1rem;
    width: 60%;
    box-shadow: var(--box-shadow-inset);
    border-radius: 1rem;
    position: relative;
}
.skill .html-container .html-loader1{
    position: absolute;
    left: 0;
    background: var(--green);
    height: 1rem;
    width: 90%;
    border-radius: 1rem;
    animation-name: html-loader1;
    animation-duration: 3s;
}
@keyframes html-loader1{
    0%{
        height: 1rem;
        width: 20%
    }
    100%{
        height: 1rem;
        width: 90%;
    }
}
.skill .html-container .percentage{
    margin: .5rem;
}


.skill .css-container{
    height: 5rem;
    width: 90%;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 5rem;
    color: var(--black);
    margin-top: 3rem;
}
.skill .css-container .name{
    margin: 1rem 2rem 1rem ;
}
.skill .css-container .loader{
    height: 1rem;
    width: 60%;
    box-shadow: var(--box-shadow-inset);
    border-radius: 1rem;
    position: relative;
}
.skill .css-container .css-loader1{
    position: absolute;
    left: 0;
    background: var(--green);
    height: 1rem;
    width: 75%;
    border-radius: 1rem;
    animation-name: css-loader1;
    animation-duration: 3s;
}
@keyframes css-loader1{
    0%{
        height: 1rem;
        width: 20%
    }
    100%{
        height: 1rem;
        width: 75%;
    }
}
.skill .css-container .percentage{
    margin: .5rem;
}

.skill .js-container{
    height: 5rem;
    width: 90%;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 5rem;
    margin-top: 3rem;
    color: var(--black);
}
.skill .js-container .name{
    margin: 1rem 2rem 1rem ;
}
.skill .js-container .loader{
    height: 1rem;
    width: 60%;
    box-shadow: var(--box-shadow-inset);
    border-radius: 1rem;
    position: relative;
}
.skill .js-container .js-loader1{
    position: absolute;
    left: 0;
    background: var(--green);
    height: 1rem;
    width: 65%;
    border-radius: 1rem;
    animation-name: js-loader1;
    animation-duration: 3s;
}
@keyframes js-loader1{
    0%{
        height: 1rem;
        width: 20%
    }
    100%{
        height: 1rem;
        width: 65%;
    }
}
.skill .js-container .percentage{
    margin: .5rem;
}

.skill .py-container{
    height: 5rem;
    width: 90%;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 5rem;
    margin-top: 3rem;
    color: var(--black);
}
.skill .py-container .name{
    margin: 1rem 2rem 1rem ;
}
.skill .py-container .loader{
    height: 1rem;
    width: 60%;
    box-shadow: var(--box-shadow-inset);
    border-radius: 1rem;
    position: relative;
}
.skill .py-container .py-loader1{
    position: absolute;
    left: 0;
    background: var(--green);
    height: 1rem;
    width: 80%;
    border-radius: 1rem;
    animation-name: py-loader1;
    animation-duration: 3s;
}
@keyframes py-loader1{
    0%{
        height: 1rem;
        width: 20%
    }
    100%{
        height: 1rem;
        width: 80%;
    }
}
.skill .py-container .percentage{
    margin: .5rem;
}

.skill .sql-container{
    height: 5rem;
    width: 90%;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 5rem;
    margin-top: 3rem;
    color: var(--black);
}
.skill .sql-container .name{
    margin: 1rem 2rem 1rem ;
}
.skill .sql-container .loader{
    height: 1rem;
    width: 60%;
    box-shadow: var(--box-shadow-inset);
    border-radius: 1rem;
    position: relative;
}
.skill .sql-container .sql-loader1{
    position: absolute;
    left: 0;
    background: var(--green);
    height: 1rem;
    width: 85%;
    border-radius: 1rem;
    animation-name: py-loader1;
    animation-duration: 3s;
}
@keyframes sql-loader1{
    0%{
        height: 1rem;
        width: 20%
    }
    100%{
        height: 1rem;
        width: 80%;
    }
}
.skill .sql-container .percentage{
    margin: .5rem;
}

.projects .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    gap:2rem;
}
.projects .box-container .box{
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.projects .box-container .box i{
    font-size: 5rem;
    padding-bottom: 3rem;
    color: #fff;
}
.projects .box-container .box h3{
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--black);
}
.projects .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--black);
}
.projects .box-container .box::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: var(--green);
    z-index: -1;
    clip-path: circle(9rem at 5% 0%);
    transition: .3s linear;
}
.projects .box-container .box:hover::before{
    clip-path: circle(100%);
    transition: .3s linear;
}
.projects .box-container .box:hover > *{
    color: #fff;
}
.contacts{
    margin-top: 3rem;
}
.contacts form{
    margin: 1rem auto;
    max-width: 80rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
}
.contacts form .box{
    padding: 1rem 1.5rem;
    width: 100%;
    background: none;
    color: var(--black);
    font-size: 1.6rem;
    text-transform: none;
    margin: .7rem 0;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}
.contacts form textarea{
    height: 20rem;
    resize: none;

}
.contacts form .box:focus{
    box-shadow: var(--box-shadow-inset);
}

.credit{
    font-size: 2rem;
    text-align: center;
    padding:2.5rem 1rem;
    margin-top: 1rem;
    border-top: var(--border);
    color: var(--black);
    border-color: var(--light-color);
}
.credit span{
    color: var(--green);
}











/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    body{
        padding-left: 0;
    }
    .header{
        left: -110%;
    }
    .header.active{
        left: 0%;
        transition: .4s linear;
    }
    #menu-btn{
        display: initial;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .header{
        width: 100%;
        border-right: 0;
    }
    .skill .container{
        margin-right: 8rem;
    }
    .table{
        flex-direction: column;
    }
    .right{
        padding: 1rem;
    }

}
@media (max-width:650px){
    .table{
        flex-direction: column;
    }
}
    


